In [7]:
import pandas as pd

In [11]:
data = pd.read_excel("/Users/basillatif/Desktop/NFL Forecast Model/2019 Regular Season Data.xlsx")

In [12]:
data

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Detroit Lions,27,27,275,112,1,361,116,2
1,Arizona Cardinals,2,2,AWAY,Baltimore Ravens,17,23,329,20,0,258,182,0
2,Arizona Cardinals,3,3,NaN,Carolina Panthers,20,38,127,121,2,240,173,1
3,Arizona Cardinals,4,4,NaN,Seattle Seahawks,10,27,206,115,1,225,115,0
4,Arizona Cardinals,5,5,AWAY,Cincinnati Bengals,26,23,248,266,0,262,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Washington Redskins,13,12,AWAY,Carolina Panthers,29,21,114,248,0,213,65,2
508,Washington Redskins,14,13,AWAY,Green Bay Packers,15,20,141,121,1,167,174,1
509,Washington Redskins,15,14,NaN,Philadelphia Eagles,27,37,251,101,1,258,157,1
510,Washington Redskins,16,15,NaN,New York Giants,35,41,281,80,0,346,206,0
511,Washington Redskins,17,16,AWAY,Dallas Cowboys,16,47,183,88,2,294,223,1

In [13]:
#data.groupby(['Team1','Team1_Score']).sum()

                                 Week  Game Number  Team2_Score  \
Team1               Team1_Score
Arizona Cardinals   7              13           12           34
                    9               8            8           31
                    10              4            4           27
                    17             16           15           46
                    20              3            3           38
...                               ...          ...          ...
Washington Redskins 19             12           11           16
                    21              2            2           31
                    27             16           15           69
                    29             13           12           21
                    35             16           15           41

                                 Team1_Passing  Team1_Rushing  \
Team1               Team1_Score
Arizona Cardinals   7                      124             74
                    9                      197             40
                    10                     206            115
                    17                     494             91
                    20                     127            121
...                                        ...            ...
Washington Redskins 19                     144             86
                    21                     208             47
                    27                     621            129
                    29                     114            248
                    35                     281             80

                                 Team1_Turnovers  Team2_Passing  \
Team1               Team1_Score
Arizona Cardinals   7                          1            417
                    9                          0            373
                    10                         1            225
                    17                         3            393
                    20                         2            240
...                                          ...            ...
Washington Redskins 19                         2            189
                    21                         0            261
                    27                         1            571
                    29                         0            213
                    35                         0            346

                                 Team2_Rushing  Team2_Turnovers
Team1               Team1_Score
Arizona Cardinals   7                      132                0
                    9                      137                1
                    10                     115                0
                    17                     322                2
                    20                     173                1
...                                        ...              ...
Washington Redskins 19                     175                4
                    21                     213                1
                    27                     280                1
                    29                      65                2
                    35                     206                0

[376 rows x 9 columns]

In [21]:
#Who scored the most points this season
data1 = data.groupby('Team1')['Team1_Score'].sum() 
data1.sort_values(ascending=False)

Team1
Baltimore Ravens        531
San Francisco 49ers     479
Tampa Bay Buccaneers    458
New Orleans Saints      458
Kansas City Chiefs      451
Dallas Cowboys          434
New England Patriots    420
Minnesota Vikings       407
Seattle Seahawks        405
Tennessee Titans        402
Los Angeles Rams        394
Philadelphia Eagles     385
Atlanta Falcons         381
Houston Texans          378
Green Bay Packers       376
Indianapolis Colts      361
Arizona Cardinals       361
New York Giants         341
Detroit Lions           341
Carolina Panthers       340
Los Angeles Chargers    337
Cleveland Browns        335
Buffalo Bills           314
Oakland Raiders         313
Miami Dolphins          306
Jacksonville Jaguars    300
Pittsburgh Steelers     289
Denver Broncos          282
Chicago Bears           280
Cincinnati Bengals      279
New York Jets           276
Washington Redskins     266
Name: Team1_Score, dtype: int64

In [22]:
#Who had the most passing yards this season 
data2 = data.groupby('Team1')['Team1_Passing'].sum()
data2.sort_values(ascending=False)

Team1
Tampa Bay Buccaneers    4845
Dallas Cowboys          4751
Atlanta Falcons         4714
Los Angeles Rams        4499
Kansas City Chiefs      4498
Los Angeles Chargers    4426
New Orleans Saints      4244
New England Patriots    3961
Oakland Raiders         3926
Detroit Lions           3900
Philadelphia Eagles     3833
Miami Dolphins          3804
San Francisco 49ers     3792
Seattle Seahawks        3791
Houston Texans          3783
Jacksonville Jaguars    3760
Green Bay Packers       3733
New York Giants         3731
Cincinnati Bengals      3652
Carolina Panthers       3650
Tennessee Titans        3582
Cleveland Browns        3554
Minnesota Vikings       3523
Arizona Cardinals       3477
Chicago Bears           3291
Buffalo Bills           3229
Baltimore Ravens        3225
Denver Broncos          3115
New York Jets           3111
Indianapolis Colts      3108
Pittsburgh Steelers     2981
Washington Redskins     2812
Name: Team1_Passing, dtype: int64

In [23]:
#Who had the most rushing yards
data3 = data.groupby('Team1')['Team1_Rushing'].sum()
data3.sort_values(ascending=False)

Team1
Baltimore Ravens        3296
San Francisco 49ers     2305
Tennessee Titans        2223
Seattle Seahawks        2200
Dallas Cowboys          2153
Minnesota Vikings       2133
Indianapolis Colts      2130
Buffalo Bills           2054
Houston Texans          2009
Arizona Cardinals       1990
Philadelphia Eagles     1939
Cleveland Browns        1901
Oakland Raiders         1893
Carolina Panthers       1819
Green Bay Packers       1795
New Orleans Saints      1738
Jacksonville Jaguars    1708
New England Patriots    1703
New York Giants         1685
Denver Broncos          1662
Detroit Lions           1649
Washington Redskins     1583
Kansas City Chiefs      1569
Tampa Bay Buccaneers    1521
Cincinnati Bengals      1517
Los Angeles Rams        1499
Chicago Bears           1458
Los Angeles Chargers    1453
Pittsburgh Steelers     1447
Atlanta Falcons         1361
New York Jets           1257
Miami Dolphins          1156
Name: Team1_Rushing, dtype: int64